/*Main section adaptive*/
@media (max-width: 1000px) {
  .header__logo {
    width: 60px;
    height: 55px;
  }

  .topside__swiper {
    margin-left: 0px;
  }

  .topside__swiper-slide--img {
    width: 980px;
    height: 545px;
  }

  .topside__booking {
    left: 300px;
    top: 500px;
  }

  .topside__booking-btn {
    padding: 26px 60px;
    white-space: nowrap;
  }

  .topside__booking-img {
    width: 100px;
    height: 80px;
  }
}

@media (max-width: 768px) {
  .topside__swiper-slide--img {
    width: 748px;
    height: 445px;
  }
}
