.leftside {
  display: grid;
  margin-top: 100px;
  margin-left: 146px;
}
.leftside__title {
  font-family: "Open Sans Regular", arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;

  color: var(--white);
}

.leftside__email_form {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--white);
}
.leftside__email_form-input {
  outline: 0 !important;

  padding-right: 202px;

  font-family: "Open Sans Light", arial, sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 16px;

  background: var(--bgBtnColor);
  box-shadow: none;
  border: 1px solid var(--bgBtnColor);
  color: var(--white);
  transition-duration: 1s;
}

.leftside__email_form-btn {
  cursor: pointer;
  border: 1px solid var(--bgBtnColor);
  background-color: var(--bgBtnColor);
}

.leftside__text {
  width: 418px;

  margin-top: 30px;

  font-family: "Open Sans Light", arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;

  color: var(--white);

  opacity: 0.7;
}
.leftside__copirate {
  margin-top: 70px;

  font-family: "Open Sans Light", arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 30px;

  color: #efefef;

  opacity: 0.7;
}

.rightside {
  margin-top: 100px;
  margin-left: 207px;
}

.rightside__links_nav {
  display: flex;
  gap: 33px;
  
  list-style: none;
}

.rightside__links_nav-item {
  font-family: "DIN", arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;

  text-transform: uppercase;
  text-decoration: none;
  transition-duration: 0.5s;

  color: var(--white);
}

.rightside__banks {
  display: flex;
  align-items: center;
  margin-left: 221px;
  margin-top: 50px;
  gap: 40px;
}
