.email {
    position: relative;

    width: 443px;
    bottom: 310px;
    z-index: 0;
    left: 146px;
    border-bottom: 1px solid var(--White);
}
.email__form {
    display: flex;
    
}
.email__form-input {
    outline: 0 !important;
    padding-right: 202px;
    font-family: 'Open Sans Light';
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    
    background: var(--BgBtnColor);
    box-shadow: none;
    border: 1px solid var(--BgBtnColor);
    color: var(--White);
    transition-duration: 1s;
}

.email__form-btn {
    cursor: pointer;
    border: 1px solid var(--BgBtnColor);
    background-color: var(--BgBtnColor);
}