.header{
    display: flex;
    align-items: center;

    height: 100px;
    margin-left: 146px;
    margin-top: 18px;
}

.header__nav{
    display: flex;
    align-items: center;
    margin-left: 232px;
    width: 541px;
    gap: 36px;
    list-style: none;
}

.header__nav-item{
    font-family: "DIN";
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;

    align-items: center;
    text-decoration: none;
    text-transform: uppercase;

    color: var(--MainColor);
}
.header__nav-item:hover{
    border-bottom: 1.5px solid #ff6673;
    padding-bottom: 2px;
}

.header__flags{
    margin-top: 5px;
}

.header__booking{
    width: 79px;
    font-family: 'DIN';
    font-size: 14px;
    line-height: 28px;

    padding: 16px 60px;

    margin-left: 153px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: var(--BgBtnColor);

    color: var(--White);
}

.header__booking:hover{
    background-color: var(--MainColor);
}