.header {
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-left: 146px;
  
}

.header__nav {
  display: flex;
  align-items: center;

  background: var(--White);
}

.header__main-menu {
  display: flex;
  gap: 36px;
  margin-left: 206px;

  list-style: none;
}

.header__main-menu li a {
  display: flex;
  font-family: "DIN", sans-serif;;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: var(--maincolor);

  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;

  transition: 0.2s;
}

.header__main-menu li a:hover {
  color: red;
  transition: 0.2s;
}

.header__mobile-menu{
  left: 70px;
  display: none;
  cursor: pointer;

  font-size: 2rem;
  position: absolute;
  
  color: var(--mainColor);
  transition: 0.2s;
}

.header__main-menu .header__close-menu {
  display: none;
  cursor: pointer;

  font-size: 2rem;
  color: #000;
  transition: 0.2s;
}

.header__booking {
  padding: 16px 60px 16px 61px;
  margin-left: 110px;

  font-family: "DIN", sans-serif;;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 28px;

  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;

  background-color: var(--bgBtnColor);
  color: var(--white);
}

.header__booking:hover {
  background-color: var(--mainColor);
}

@media (max-width: 1000px) {
  .header__nav { 
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 1000px;
    margin-left: -125px;
  }

  .header__logo {
    width: 30px;
    height: 25px;

    margin-left: auto;
    margin-right: auto;
    padding-left: 290px;
    
    z-index: 11;
    background: var(--white);
  }

  .header__main-menu {
    height: 100vh;
    position: absolute;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    top: 100px;
    right: 0px;
    left: -220px;
    z-index: 10;

    background: var(--white);
    transition: top 1s;
    
  }

  .header__main-menu .header__close-menu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .header__mobile-menu {
    display: block;
  }

  .header__main-menu li a {
    color: var(--mainColor);
    font-size: 14px;
  }

  .header__main-menu li a:hover {
    font-size: 18px;

    background: none;
    color: red;
    border-bottom: none;
  }
  .icons i {
    display: inline-block;
    padding: 12px;
  }

  .header__booking {
    padding: 6px 40px;
    margin-right: 30px;
  }
}
