.header{
    display: flex;
    align-items: center;
    z-index: 6;
    height: 100px;
    margin-left: 146px;
    margin-top: 18px;
}

.header__nav{
    display: flex;
    align-items: center;
    margin-left: 232px;
    width: 541px;
    gap: 36px;
    list-style: none;
}

.header__nav-item{
    font-family: "DIN";
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;

    align-items: center;
    text-decoration: none;
    text-transform: uppercase;

    color: var(--MainColor);
}
.header__nav-item:hover{
    border-bottom: 1.5px solid #ff6673;
    padding-bottom: 2px;
}

.header__flags{
    margin-top: 5px;
}

.header__booking{
    font-family: 'DIN';
    font-size: 14px;
    line-height: 28px;

    padding: 16px 60px;

    margin-left: 153px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: var(--BgBtnColor);

    color: var(--White);
}

.header__booking:hover{
    background-color: var(--MainColor);
}


.li_animation:hover{
    scale: 1.1;
}

.wrapper {
    display: flex;
    height: 100px;
    margin-top: 10px;
    margin-left: 146px;
    align-items: center;
    position: relative;

}
.logo {
}
.burger-line {
    display: flex;
}
.main-menu {
    display: flex;
    margin-left: 242px;
    gap: 36px;
    list-style: none;
}

.main-menu a{
    display: block;
    text-decoration: none;
}

.main-menu--item {
    font-family: "DIN";
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;

    align-items: center;
    text-decoration: none;
    text-transform: uppercase;

    color: var(--MainColor);
}

.main-menu--item:hover{
    border-bottom: 1px solid red;
}

#check-menu{
    display: none;

}

label{
    cursor: pointer;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    width: 500px;
    height: 100%;
}

.burger-line{
    cursor: pointer;
    display: none;
    position: absolute;
    top: 36px;
    right: 0;
    width: 35px;
    height: 2px;
    background-color: var(--BgBtnColor);
    transition: .5s all;
}

.second, .third{
    top: 46px;
    transition: .5s all;
}

.fourth{
    top: 56px;
    transition: .5s all;
}

.wrapper__btn-item{
    margin-left: 227px;
    font-family: 'DIN';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;

    background-color: var(--BgBtnColor);
    padding: 16px 60px;
    color: #FFFFFF;
    
}

@media (max-width: 768px) {

    .wrapper{
        margin-left: 10px;
    }

    .wrapper__btn-item{
        width: 79px;
        font-size: 10px;
        padding: 16px 50px;
        margin-left: 0;
    }

    .main-menu{
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        gap: 10px;
        display: grid;
        width: 100%;
        height: 900px;
        align-items: center;
        justify-content: center;
        background-color: var(--White);
        margin-top: 100px;
        margin-left: auto;
        z-index: 8;
        max-height: 0;
        font-size: 0;
        overflow: hidden;
        transform: translateY(50%);
        transition: .5s all;
    }

    .burger-line{
        display: block;
    }

    #check-menu:checked ~ .main-menu{
        max-height: 200px;
        font-size: 14px;
    }
    #check-menu:checked ~ .first{
        display: none;
        transition: .5s all;
    }

    #check-menu:checked ~ .second{
        transform: rotate(45deg);
        transition: .5s all;
    }

    #check-menu:checked ~ .third{
        transform: rotate(-45deg);
        transition: .5s all;
    }

    #check-menu:checked ~ .fourth{
       display: none;
       transition: .5s all;
    }
}

