.main__topside {
  max-width: 1408px;
  margin-top: -1em;
  position: relative;

  display: flex;
}

.main__topside_text {
  position: absolute;
  top: 40px;
  right: 58px;

  z-index: 3;
}

.topside_text-title {
  font-family: "Open Sans Light", arial, sans-serif;
  font-weight: 300;
  font-size: 70px;

  color: var(--white);
}

.topside_text-subtitle {
  width: 400px;

  padding-left: 326px;

  font-family: "mulish Light", arial, sans-serif;
  font-size: 20px;
  line-height: 28px;
  text-align: center;

  color: var(--white);
}

.topside__booking {
  position: absolute;
  top: 657px;
  left: 145px;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1;
}

.booking__container-price {
  width: 120px;
  height: 100px;
  
  font-family: 'DIN', arial, sans-serif;
  font-size: 14px;

  color: #333333;
  background: #E9ECE0;
}

.container-price--when {
  margin-left: 29px;
  margin-top: 25px;
}

.container-price--value {
  margin-left: 29px;

  font-weight: 600;
  font-size: 20px;
  }

.container-price--time {
  margin-left: 41px;
}


.cabins {
  display: flex;
  margin-top: 150px;
  margin-left: 147px;
}

.cabins__img {
  margin-left: 105px;
}

.cabins__text {
  padding-top: 100px;
}

.cabins__text-text {
  font-family: "Open Sans Regular", arial, sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;

  color: var(--BgBtnColor);
}

.cabins__text-subtext {
  width: 465px;
  
  margin-bottom: 17px;

  font-family: "Open Sans Light", arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;

  color: var(--mainColor);
}

.cabins__text-link {
  font-family: "Open Sans Bold", arial, sans-serif;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;

  color: var(--bgBtnColor);
}

.cabins__text-link:hover {
  padding-bottom: 2px;
  border-bottom: 1.5px solid var(--bgBtnColor);
}

.photos {
  display: flex;
  gap: 24px;
  margin-left: 32px;
  margin-top: 152px;
}

.photos__third {
  position: relative;
  z-index: -1;
}

.photos__third-player {
  position: absolute;
  left: 9px;
  top: 337px;

  z-index: 1;
}

.forest {
  display: flex;
  margin-top: 150px;

  background: #e9ece0;
}

.forest___map {
  display: flex;
}

.forest__map-mainmap {
  background: #3e443e;
  z-index: -1;
}

.forest__info {
  margin-left: 110px;
  margin-top: 150px;
}

.forest__info-text {
  font-family: "Open Sans Regular", arial, sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;

  color: #5b6460;
}

.forest__info-subtext {
  width: 465px;

  font-family: "Open Sans Light", arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;

  color: #333333;
  margin-bottom: 17px;
}

.forest__info-link {
  width: 80px;

  font-family: "Open Sans Light", arial, sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;

  text-decoration: none;

  color: #5b6460;
}

.forest__info-link:hover {
  border-bottom: 1.5px solid #5b6460;
  padding-bottom: 2px;
}

.facilities {
  height: 971px;

  display: grid;
  align-items: center;
  justify-content: center;
  margin-top: -0.26em;

  background-color: var(--bgBtnColor);
}

.facilities__title {
  margin-top: 130px;

  font-family: "Open Sans Light", arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  text-align: center;

  color: var(--white);
}

.facilities__container {
  display: grid;
  grid-template-columns: repeat(4, 133px);
  align-items: center;
  text-align: center;
  gap: 63px;
}

.facilities__container-item {
  cursor: pointer;
}

.facilities__container-item:hover {
  scale: 1.1;
}

.facilities__container-item--name {
  margin-top: 20px;

  font-family: "Open Sans Light", arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;

  color: var(--white);
}

.more {
  width: 1408px;
  height: 559px;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.more__firstimg {
  position: absolute;  
  left: 0px;

  z-index: -1;
}

.more__secondimg {
  position: absolute;
  right: 0px;

  z-index: -1;
}

.more__btn {
  padding: 67px 27px;

  font-family: "DIN", arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;

  text-align: center;
  text-decoration: none;

  background: #e9ece0;
  border-radius: 100px;
  
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0.6, 2, 0.34, -1);

  color: #333333;
}

.more__btn:hover {
  background: #5b6460;
  color: var(--white);
  transform: translateY(-10px);
}

.info {
  display: flex;
}

.info__leftside {
  margin-top: 150px;
  margin-left: 148px;
}

.info__leftside-title {
  font-family: "Open Sans Regular", arial, sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 60px;

  color: var(--bgBtnColor);
}

.info__leftside-city {
  margin-top: 48px;

  font-family: "Open Sans Light", arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;

  color: var(--mainColor);
}

.info__leftside-contacts {
  width: 167px;
  margin-top: 20px;

  font-family: "Open Sans Light", arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;

  color: var(--mainColor);
}

.info__leftside_social {
  display: flex;
  margin-top: 50px;
  gap: 43px;
}

.info__leftside_social-img {
  transition-duration: 0.5s;
}

.info__leftside_social-img:hover {
  scale: 1.1;
}

.info__rightside {
  height: 288px;
  
  margin-top: 215px;
  margin-left: 345px;
}

.info__rightside_booking {
  display: flex;
  align-items: center;
  margin-top: -0.36em;
}

.info__rightside_booking-btn {
  padding: 36px 87px;
  
  font-family: "DIN", arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background: var(--bgBtnColor);

  color: var(--white);
}

.info__rightside_booking-btn:hover {
  background: var(--mainColor);
}
