@import url('fonts.css');
@import url('header.css');
@import url('main.css');
@import url('footer.css');
@import url('forms.css');
@import url('adaptive.css');


:root{
    --MainColor: #000000;
    --BgBtnColor: #5B6460;
    --FirstBgColor: #5B6460;
    --SecondBgColor: #E9ECE0;
    --Secondcolor: #333333;
    --White: #ffffff;
}

.footer{
    width: 1408px;
    height: 477px;
    display: flex;
    margin-top: 133px;
    background: var(--BgBtnColor);
}

.body{
    max-width: 1408px;
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    position: fixed;
    display: none;
    transform: scale(0);
  }

