@import url("fonts.css");
@import url("header.css");
@import url("main.css");
@import url("footer.css");
@import url("adaptive.css");

:root {
  --mainColor: #000000;
  --bgBtnColor: #5b6460;
  --firstBgColor: #5b6460;
  --secondBgColor: #e9ece0;
  --secondcolor: #333333;
  --white: #ffffff;
}

.footer {
  width: 1408px;
  height: 477px;
  display: flex;
  margin-top: 133px;
  background: var(--bgBtnColor);
}

.body {
  max-width: 1408px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: fixed;
  display: none;
  transform: scale(0);
}

.swiper-slide {
  z-index: -1;
}

.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after{
  color: #ffffff;
  font-size: 20px;
  position: relative;
  margin-top: 300px;
}