.swiper_container-btns {
  position: relative;
  top: 640px;
  
  font-size: 20px;
}

.swiper__btn-prev::after,
.swiper__btn-next::after {
  position: absolute;

  font-size: 20px;

  color: #ffffff;
}

.swiper__btn-next,
.swiper__btn-prev{
  outline: none;
  border: none;
  background-image: none; 
  background-color: transparent;
}

.swiper__btn-next:hover path,
.swiper__btn-prev:hover path{
  fill: var(--white);
}

.swiper__btn-prev {
  width: 33px;
  height: 15px;

  left: 623px;
}

.swiper__btn-next {
  width: 33px;
  height: 15px;

  right: 635px;

  transform: rotate(-180deg);
}

.scrollbar-pos{
  position: relative;
  right: 640px;
}

.swiper-scrollbar {
  transform: rotate(-90deg);
}

.scroll-background {
  background: var(--white);
  opacity: 0.7;
}


.slide{
  z-index: -1;
}

@media (max-width: 1000px) {
  .swiper__btn-prev {
    left: 440px;
  }
  .swiper__btn-next {
    right: 400px;
  }
  
}
